# <div style="color:blue"> Assignment2</div>

<a id='top'></a>

# <div style="color:green">Introduction:</div>

- ## Start
  - ### Technical Satrt:
    - #### Loading SQL Extinson.<br><br> <div class="alert alert-block alert-success">%load_ext sql</div>
    - #### Making a connection.<br><br> <div class="alert alert-block alert-success">%sql postgresql://introdb:introdb@localhost:5432/introdb_database</div>
    - #### sitting the path.<br><br> <div class="alert alert-block alert-success">%sql set search_path TO introdb_database;</div>
- ## introducing the tables:
  - #### team(TEAM_ID, team_name, team_city)<br>
  <div class="alert alert-block alert-success">CREATE TABLE team<br>
(<br>
    TEAM_ID   INTEGER PRIMARY KEY,<br>
    team_name TEXT NOT NULL,<br>
    captain_name TEXT, --it is not necessary!<br>
    team_city TEXT<br>
);</div>
  - #### player(PLAYER_ID, player_name, player_position, player_age,<br><br> is_captin, team_id*)<br>
  <div class="alert alert-block alert-success"> CREATE TABLE player<br>
(<br>
    PLAYER_ID       INTEGER PRIMARY KEY,<br>
    player_name     TEXT,<br>
    is_captain      BOOLEAN,<br>
    player_position TEXT,<br>
    player_age      INTEGER,<br>
    current_team_id  INTEGER REFERENCES team (team_id),<br>
    start_date      Date<br>
);</div>
  - #### match(MATCH_ID, match_date, match_time, hosting_stadium, is_home,<br><br> team_id*)<br> 
<div class="alert alert-block alert-success">CREATE TABLE match<br>
(<br>
    MATCH_ID        INTEGER PRIMARY KEY,<br>
    match_date      DATE,<br>
    match_time      TEXT, -- normally, it must be DATE.<br>
    hosting_stadium TEXT,<br>
    is_home         Boolean,<br>
    goals_count     INTEGER,<br>
    team_id         INTEGER REFERENCES team (team_id)<br>
);</div>
  - #### previousteam(previousteam_id, player_id*, team_id*, pstart_date,<br><br> end_date)<br>
  <div class="alert alert-block alert-success">CREATE TABLE previousteam<br>
(<br>
    previous_team_id INTEGER PRIMARY KEY,<br>
    player_id        INTEGER REFERENCES player (player_id) NOT NULL,<br>
    team_id          INTEGER REFERENCES team (team_id)     NOT NULL,<br>
    p_start_date     DATE,<br>
    end_date         DATE<br>
);</div>

In [1]:
%load_ext sql

In [2]:
%sql postgresql://introdb:introdb@localhost:5432/introdb_database

# <div style="color:green">PART 1</div>

- ## Creating 4 Tables & Inserting Data :

 ### 1.  Team Table:

In [3]:
%%sql CREATE TABLE team (TEAM_ID INTEGER PRIMARY KEY, 
                         team_name TEXT NOT NULL, 
                         captain_name TEXT, 
                         team_city TEXT);

 * postgresql://introdb:***@localhost:5432/introdb_database
Done.

[]

 #### 1. 1 First Team :<br> $$Manchester United$$

   <img src='Man_utd.png' style='text_align: center'>

In [4]:
%%sql INSERT INTO team(team_id, team_name, captain_name, team_city)
VALUES (01, 'Manchester United', 'Harry Maguire', 'Manchester');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

 #### 1.2 Second Team :<br> $$ Juventus$$

<img src='Juventus.png'>

In [5]:
%%sql INSERT INTO team(team_id, team_name, captain_name, team_city)
VALUES (02, 'Juventus',  'Giorgio Chiellini', 'Turin');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

 #### 1.3 Third Team :<br> $$Real Madrid$$

<img src='Real_madrid.png'>

In [24]:
%%sql INSERT INTO team(team_id, team_name, captain_name, team_city)
VALUES (03, 'Real Madrid', 'Sergio Ramos','Madrid');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

#### 1.3 Other Teams :<br> $$AC Milan$$
####                       $$CBF$$ <br>

In [6]:
%%sql INSERT INTO team(team_id, team_name, team_city)
VALUES (04, 'AC Milan', 'Milan');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

In [8]:
%%sql INSERT INTO team(team_id, team_name, team_city)
VALUES (05, 'CBF', 'Brazil');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

 ### 2. Player Table:

In [10]:
%%sql CREATE TABLE player
(
    PLAYER_ID       INTEGER PRIMARY KEY,
    player_name     TEXT,
    is_captain      BOOLEAN,
    player_position TEXT,
    player_age      INTEGER,
    current_team_id  INTEGER REFERENCES team (team_id),
    start_date      Date
);

 * postgresql://introdb:***@localhost:5432/introdb_database
Done.

[]

#### 2.1 Manchester United players:

##### 2.1.1  <br><div style="color: green">  Bailly, Eric </div>

<img src='eric.png'>

In [11]:
%%sql Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (01, 'Bailly, Eric', FALSE, 'Defender', 27, 1, '2017-06-01');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 2.1.2   <br><div style="color: green">      Bishop, Nathan</div>

<img style="border: 1px solid green" src='Bishop.png'>

In [12]:
%%sql Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (02, 'Bishop, Nathan', FALSE, 'Goal keeper', 21, 1, '2020-01-31');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 2.1.3 Gomez, Edinson

<img src='edinson.png'>

In [13]:
%%sql Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (03, 'Edinson Roberto Cavani Gómez', FALSE, 'Attack', 34, 1, '2014-01-29');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

#### 2.2 Juvetus players:

##### 2.2.1 Ronaldo, Cristiano

<img src='rolando.png'>

In [15]:
%%sql Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (04, 'Cristiano Ronaldo', TRUE, 'Forward', 36, 2, '2018-10-07');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 2.2.2 Buffon, Gianluigi

<img src='gigi.png'>

In [18]:
%%sql Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (05, 'Gigi', FALSE, 'Goal Keeper', 43, 2, '2019-01-01');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 2.2.3 Chiellini, Giorgio

<img src='giorgi.png'>

In [19]:
%%sql Insert into  player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (06, 'Giorgio Chiellini', FALSE, 'Defender', 36, 2, '2005-01-01');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

#### 2.3 Real Madrid players:

##### 2.3.1 Suárez, Francisco

<img src=franc.png>

In [25]:
%%sql Insert into  player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (07, 'Francisco Román Alarcón Suárez', FALSE, 'Midfielder', 29, 3, '2013-09-02');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 2.3.2 García, Sergio

<img src='serg.png'>

In [26]:
%%sql Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (08, 'Sergio Ramos García', TRUE, 'Defender', 35, 3, '2005-04-09');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 2.3.3  Willemsen, Marco

<img src='marco.png'>

In [27]:
%%sql Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (09, 'Marco Asensio Willemsen', FALSE, 'Forward', 25, 3, '2014-09-01');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

### 3. Match Table:

In [29]:
%%sql CREATE TABLE match
(
    MATCH_ID        INTEGER PRIMARY KEY,
    match_date      DATE,
    match_time      TEXT, -- normally, it must be DATE.
    hosting_stadium TEXT,
    is_home         Boolean,
    goals_count     INTEGER,
    team_id         INTEGER REFERENCES team (team_id)
);

 * postgresql://introdb:***@localhost:5432/introdb_database
Done.

[]

#### 3.1 Manchester United Matches

##### 3.1.1 Manchester United VS France

<img src='vs1.png'>

In [30]:
%%sql INSERT INTO match(match_id, match_date, match_time, hosting_stadium, is_home, goals_count, team_id)
VALUES (01, '2016-07-10', '15h00. EDT' , 'Stade de France', FALSE, 01, 01);

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 3.1.2 Manchester United  VS  Bournemouth

<img src='vs2.png'>

In [32]:
%%sql INSERT INTO match(match_id, match_date, match_time, hosting_stadium,is_home,goals_count, team_id)
VALUES (02, '2016-08-14', '13h30. UK' , 'Dean Court', TRUE, 03, 01);

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

#### 3.2 Juvetus Matches

##### 3.2.1 Juventus VS Sassuolo

<img src='vs3.png'>

In [36]:
%%sql INSERT INTO match(match_id, match_date, match_time, hosting_stadium, is_home, goals_count, team_id)
VALUES (03, '2018-09-16', '22h00' , 'Allianz', TRUE, 02, 02);

 * postgresql://introdb:***@localhost:5432/introdb_database

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "match_pkey"
DETAIL:  Key (match_id)=(3) already exists.

[SQL: INSERT INTO match(match_id, match_date, match_time, hosting_stadium, is_home, goals_count, team_id)
VALUES (03, '2018-09-16', '22h00' , 'Allianz', TRUE, 02, 02);]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

##### 3.2.2 Juventus VS Valencia

<img src='vs4.png'>

In [37]:
%%sql INSERT INTO match(match_id, match_date, match_time, hosting_stadium, is_home, goals_count, team_id)
VALUES (04, '2018-09-19', '18h00' , 'Mestalla', FALSE, 02, 02);

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 3.2.3 Juventus VS Inter Milan

<img src='vs5.png'>

In [38]:
%%sql INSERT INTO match(match_id, match_date, match_time, hosting_stadium, is_home, goals_count, team_id)
VALUES (05, '2018-12-08', '19h30', 'Juventus', FALSE, 02, 02);

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

#### 3.3 Real Madrid Matches

##### 3.3.1 Real Madrid VS Arsenal

<img src='vs6.png'>

In [39]:
%%sql INSERT INTO match(match_id, match_date, match_time, hosting_stadium,is_home,goals_count, team_id)
VALUES (06, '2006-02-21', '13h30' , 'Santiago Bernabéu', TRUE, 01, 03);

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 3.3.2 Real Madrid VS Barcelona

<img src='vs7.png'>

In [40]:
%%sql INSERT INTO match(match_id, match_date, match_time, hosting_stadium,is_home,goals_count, team_id)
VALUES (07, '2006-03-26', '13h30' , 'Santiago Bernabéu', TRUE, 00, 03);

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

##### 3.3.3 Real Madrid VS Barcelona

<img src='vs7.png'>

In [41]:
%%sql INSERT INTO match(match_id, match_date, match_time, hosting_stadium,is_home,goals_count, team_id)
VALUES (08, '2006-04-01', '22h00' , 'Venue Camp Nou', FALSE, 01, 03);

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.
(psycopg2.errors.SyntaxError) unterminated /* comment at or near "/* Rolando 1 goals  VS Barcelona *"
LINE 1: /* Rolando 1 goals  VS Barcelona *
        ^

[SQL: /* Rolando 1 goals  VS Barcelona *]
(Background on this error at: http://sqlalche.me/e/14/f405)

# <div style="color:green">PART 2</div>

## Query 1

### Display Manchester United players chronologically

In [45]:
%%sql SELECT player_name, player_id, player_age
FROM player
WHERE current_team_id=1
ORDER BY player_age ASC;

 * postgresql://introdb:***@localhost:5432/introdb_database
3 rows affected.

[('Bishop, Nathan', 2, 21),
 ('Bailly, Eric', 1, 27),
 ('Edinson Roberto Cavani Gómez', 3, 34)]

### Display Juventus players chronologically

In [47]:
%%sql SELECT player_name, player_id, player_age
FROM player
WHERE current_team_id=2
ORDER BY player_age ASC;

 * postgresql://introdb:***@localhost:5432/introdb_database
3 rows affected.

[('Cristiano Ronaldo', 4, 36), ('Giorgio Chiellini', 6, 36), ('Gigi', 5, 43)]

### Display Real Madrid players chronologically

In [46]:
%%sql SELECT player_name, player_id, player_age
FROM player
WHERE current_team_id=3
ORDER BY player_age ASC;

 * postgresql://introdb:***@localhost:5432/introdb_database
3 rows affected.

[('Marco Asensio Willemsen', 9, 25),
 ('Francisco Román Alarcón Suárez', 7, 29),
 ('Sergio Ramos García', 8, 35)]

## <div style= "background-color: blue"> Query 2</div>

### Players never been captains:

In [48]:
%sql SELECT player_name, player_id FROM player WHERE is_captain=FALSE;

 * postgresql://introdb:***@localhost:5432/introdb_database
7 rows affected.

[('Bailly, Eric', 1),
 ('Bishop, Nathan', 2),
 ('Edinson Roberto Cavani Gómez', 3),
 ('Gigi', 5),
 ('Giorgio Chiellini', 6),
 ('Francisco Román Alarcón Suárez', 7),
 ('Marco Asensio Willemsen', 9)]

### PLayers were captains:

In [49]:
%sql SELECT player_name, player_id FROM player WHERE is_captain=TRUE;

 * postgresql://introdb:***@localhost:5432/introdb_database
2 rows affected.

[('Cristiano Ronaldo', 4), ('Sergio Ramos García', 8)]

## Query 3

### Players who played more than one Match:

In [51]:
%%sql SELECT pi.player_id, p.player_name, COUNT(pi.player_id) as NumberOfMatches
FROM played_in pi, player p
WHERE pi.player_id = p.player_id
GROUP BY pi.player_id, p.player_name
HAVING COUNT(pi.player_id) > 1;

 * postgresql://introdb:***@localhost:5432/introdb_database
3 rows affected.

[(4, 'Cristiano Ronaldo', 3),
 (1, 'Bailly, Eric', 2),
 (8, 'Sergio Ramos García', 3)]

## Query 4

### Numbers of Players' EX-Teams

In [55]:
%%sql SELECT pr.player_id, player_name, COUNT(p.player_id) as NumberOfTeams
FROM previousteam pr, player p
WHERE pr.player_id = p.player_id
GROUP BY pr.player_id, player_name;

 * postgresql://introdb:***@localhost:5432/introdb_database
2 rows affected.

[(4, 'Cristiano Ronaldo', 2), (5, 'Gigi', 1)]

### NAMES of Player's EX-Teams

In [56]:
%%sql SELECT pr.player_id, player_name, team_name
FROM previousteam pr, player p, team t
WHERE pr.player_id = p.player_id AND pr.team_id = t.team_id
GROUP BY pr.player_id, player_name, team_name;

 * postgresql://introdb:***@localhost:5432/introdb_database
3 rows affected.

[(4, 'Cristiano Ronaldo', 'Real Madrid'),
 (5, 'Gigi', 'Parma'),
 (4, 'Cristiano Ronaldo', 'Manchester United')]

## Query 5

### Players who had a chance to play the whole match:

In [53]:
%%sql SELECT pi.player_id, player_name
FROM played_in pi, player p
WHERE pi.player_id = p.player_id AND min_count=90
GROUP BY pi.player_id, player_name;

 * postgresql://introdb:***@localhost:5432/introdb_database
3 rows affected.

[(3, 'Edinson Roberto Cavani Gómez'),
 (4, 'Cristiano Ronaldo'),
 (8, 'Sergio Ramos García')]

# THE END

<br>

---
[Back to top](#top)