# $$  Assignment 2 $$

## Technical Satrt:
- Loading SQL Extinson.
- Making a connection.

In [1]:
%load_ext sql

In [2]:
%sql postgresql://introdb:introdb@localhost:5432/introdb_database

## The teams that exist in the Database so far:

In [3]:
%sql SELECT * FROM team;

 * postgresql://introdb:***@localhost:5432/introdb_database
3 rows affected.

[(1, 'Manchester City', 'Manchester'),
 (2, 'AC Milan', 'Milan'),
 (3, 'CBF', 'Brazil')]

<div> hello <div>