# $$Assignment2$$

- ## Assignment Introduction
  - ### Technical Satrt:
    - #### Loading SQL Extinson.<br><br> <div class="alert alert-block alert-success">%load_ext sql</div>
    - #### Making a connection.<br><br> <div class="alert alert-block alert-success">%sql postgresql://introdb:introdb@localhost:5432/introdb_database</div>
    - #### sitting the path.<br><br> <div class="alert alert-block alert-success">%sql set search_path TO introdb_database;</div>
- ## introducing the tables:
  - #### team(TEAM_ID, team_name, team_city)<br>
  <div class="alert alert-block alert-success">CREATE TABLE team<br>
(<br>
    TEAM_ID   INTEGER PRIMARY KEY,<br>
    team_name TEXT NOT NULL,<br>
    captain_name TEXT, --it is not necessary!<br>
    team_city TEXT<br>
);</div>
  - #### player(PLAYER_ID, player_name, player_position, player_age,<br><br> is_captin, team_id*)<br>
  <div class="alert alert-block alert-success"> CREATE TABLE player<br>
(<br>
    PLAYER_ID       INTEGER PRIMARY KEY,<br>
    player_name     TEXT,<br>
    is_captain      BOOLEAN,<br>
    player_position TEXT,<br>
    player_age      INTEGER,<br>
    current_team_id  INTEGER REFERENCES team (team_id),<br>
    start_date      Date<br>
);</div>
  - #### match(MATCH_ID, match_date, match_time, hosting_stadium, is_home,<br><br> team_id*)<br> 
<div class="alert alert-block alert-success">CREATE TABLE match<br>
(<br>
    MATCH_ID        INTEGER PRIMARY KEY,<br>
    match_date      DATE,<br>
    match_time      TEXT, -- normally, it must be DATE.<br>
    hosting_stadium TEXT,<br>
    is_home         Boolean,<br>
    goals_count     INTEGER,<br>
    team_id         INTEGER REFERENCES team (team_id)<br>
);</div>
  - #### previousteam(previousteam_id, player_id*, team_id*, pstart_date,<br><br> end_date)<br>
  <div class="alert alert-block alert-success">CREATE TABLE previousteam<br>
(<br>
    previous_team_id INTEGER PRIMARY KEY,<br>
    player_id        INTEGER REFERENCES player (player_id) NOT NULL,<br>
    team_id          INTEGER REFERENCES team (team_id)     NOT NULL,<br>
    p_start_date     DATE,<br>
    end_date         DATE<br>
);</div>

In [38]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
%sql postgresql://introdb:introdb@localhost:5432/introdb_database

- ## Creating 4 Tables & Inserting Data :

 ### 1.  Team Table:

In [42]:
%%sql CREATE TABLE team (TEAM_ID INTEGER PRIMARY KEY, 
                         team_name TEXT NOT NULL, 
                         captain_name TEXT, 
                         team_city TEXT);

 * postgresql://introdb:***@localhost:5432/introdb_database
(psycopg2.errors.DuplicateTable) relation "team" already exists

[SQL: CREATE TABLE team (TEAM_ID INTEGER PRIMARY KEY,
                         team_name TEXT NOT NULL,
                         captain_name TEXT,
                         team_city TEXT);]
(Background on this error at: http://sqlalche.me/e/14/f405)

 #### 1. 1 First Team :<br> $$Manchester United$$

<img src='man_und_pic.jpg'>

In [43]:
%%sql INSERT INTO team(team_id, team_name, captain_name, team_city)
VALUES (01, 'Manchester United', 'Harry Maguire', 'Manchester');

 * postgresql://introdb:***@localhost:5432/introdb_database
1 rows affected.

[]

 #### 1.2 Second Team :<br> $$ Juventus$$

<img src='man_und_pic.jpg'>

In [ ]:
%%sql INSERT INTO team(team_id, team_name, captain_name, team_city)
VALUES (02, 'Juventus',  'Giorgio Chiellini', 'Turin');

 #### 1.3 Third Team :<br> $$Real Madrid$$

<img src='man_und_pic.jpg'>

In [ ]:
%%sql INSERT INTO team(team_id, team_name, captain_name, team_city)
VALUES (03, 'Real Madrid', 'Sergio Ramos','Madrid');

#### 1.3 Other Teams :<br> $$AC Milan$$
####                       $$CBF$$ <br>

In [ ]:
INSERT INTO team(team_id, team_name, team_city)
VALUES (04, 'AC Milan', 'Milan');

In [ ]:
INSERT INTO team(team_id, team_name, team_city)
VALUES (05, 'CBF', 'Brazil');

 ### 2. Player Table:

#### 2.1 Mnchester United players:

##### 2.1.1 Bailly, Eric

In [ ]:
%%sql Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (01, 'Bailly, Eric', FALSE, 'Defender', 27, 1, '2017-06-01');

##### 2.1.2 Bishop, Nathan

In [ ]:
Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (02, 'Bishop, Nathan', FALSE, 'Goal keeper', 21, 1, '2020-01-31');

##### 2.1.3 Gomez, Edinson

In [ ]:
Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (03, 'Edinson Roberto Cavani Gómez', FALSE, 'Attack', 34, 1, '2014-01-29');

#### 2.2 Juvetus players:

##### 2.2.1 Ronaldo, Cristiano

Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (04, 'Cristiano Ronaldo', TRUE, 'Forward', 36, 2, '2018-10-07');

##### 2.2.2 Buffon, Gianluigi

In [ ]:
Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (05, 'Gigi', FALSE, 'Goal Keeper', 43, 2, '2019-01-01');

##### 2.2.3 Chiellini, Giorgio

In [ ]:
Insert into  player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (06, 'Giorgio Chiellini', FALSE, 'Defender', 36, 2, '2005-01-01');

#### 2.3 Real Madrid players:

##### 2.3.1 Suárez, Francisco

In [ ]:
Insert into  player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (07, 'Francisco Román Alarcón Suárez', FALSE, 'Midfielder', 29, 3, '2013-09-02');

##### 2.3.2 García, Sergio

In [ ]:
Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (08, 'Sergio Ramos García', TRUE, 'Defender', 35, 3, '2005-04-09');

##### 2.3.3  Willemsen, Marco

In [ ]:
Insert into player(player_id, player_name, is_captain, player_position, player_age, current_team_id, start_date)
    VALUES (09, 'Marco Asensio Willemsen', FALSE, 'Forward', 25, 3, '2014-09-01');

### 3. Match Table:

#### 3.1 Manchester United Matches

#### 3.2 Juvetus Matches

#### 3.3 Real Madrid Matches

## query 1

In [8]:
%sql SELECT player_name, player_id, player_age FROM player WHERE current_team_id=1;

 * postgresql://introdb:***@localhost:5432/introdb_database
3 rows affected.

[('Bailly, Eric', 1, 27),
 ('Bishop, Nathan', 2, 21),
 ('Edinson Roberto Cavani Gómez', 3, 34)]

## query 2

In [13]:
%sql SELECT player_name, player_id FROM player WHERE is_captain=FALSE;

 * postgresql://introdb:***@localhost:5432/introdb_database
7 rows affected.

[('Bailly, Eric', 1),
 ('Bishop, Nathan', 2),
 ('Edinson Roberto Cavani Gómez', 3),
 ('Gianluigi "Gigi" Buffon', 5),
 ('Giorgio Chiellini', 6),
 ('Francisco Román Alarcón Suárez', 7),
 ('Marco Asensio Willemsen', 9)]

PLayers were captains:

In [14]:
%sql SELECT player_name, player_id FROM player WHERE is_captain=TRUE;

 * postgresql://introdb:***@localhost:5432/introdb_database
2 rows affected.

[('Cristiano Ronaldo', 4), ('Sergio Ramos García', 8)]

## query 3